#splash {
    background: #000000;
}

.progress .progress-bar {
    background-color: #292929;
}
.progress .progress-bar .complete {
    background-color: white;
}
#splash .splash-inner-dl .dl-select-frame .Select-control {
    background: #000000;
    border-color: #000000;
}
#splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
    background: #000000;
    border-color: #000000;
}
